.card {
  width: 159px;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.chipWrapper {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}