.section {
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.collapse {
  border: none;
  background: transparent;
  color: var(--color-primary);
  cursor: pointer;
  font-weight: 500;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tabsWrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}